.aside{
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--bg-black-50);
    align-items: center;
    background-color: var(--bg-black-100);
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    letter-spacing: 5px;
    padding: 15px 20px;
    font-size: 30px;
}

/*There we will build the hooks*/
.aside .logo a::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom:0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top:0;
    right: 0;
}


.aside .logo a span{
    font-family: 'Clicker Script',cursive;
    font-size: 40px;
}

.nav{
    position: absolute;
    top:110px;
    list-style: none;
    margin-top: 50px;
}

.nav ul li {
    display: block;
    margin-bottom: 15px;
}

.nav ul li a {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 15px 15px;
}

.nav ul li a.active{
    color: var(--skin-color);
}

.nav ul li a i{
    margin-right: 7px;
}


.aside .network{
    position: absolute;
    top:450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aside .network .github, .youtube, .linkedin{
    margin-right: 15px;
    
}

.aside .network .github a i{
    color:  var(--skin-color);
    font-size: 25px;
}
.aside .network .youtube a i{
    color:  var(--skin-color);
    font-size: 25px;
}
.aside .network .linkedin a i{
    color:  var(--skin-color);
    font-size: 25px;
}


/*
.nav-toggler{
    width: 45px;
    height: 45px;
    position: fixed;
    left: 300px;
    top:20px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-100);
    cursor: pointer;
    border-radius: 5px;
    display: flex;/*Change to flex later*//*
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px;
}


.nav-toggler span{
    height: 2px;
    width: 18px;
    display: inline-block;
    background-color: var(--skin-color);
    position: relative;
}

.nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top: -6px;

}

.nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
    position: absolute;
    top: 6px;

}*/